* {
  box-sizing: border-box;
}

body {
  background-color: #eef9bf;
}

h1 {
  text-align: center;
  color: #75b79e;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
}

.container-cards {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5vh;
}

.primeira-linha,
.segunda-linha {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card{
  background-color: #a7e9af;
  border: 2px solid #99cea8;
  width: 11vw;
  height: 30vh;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px #99cea891;
  display: flex;
  justify-content: center;
  align-items: center;

 
}

.img-card {
  width: 10vw;
  height: 20vh;
}





/* .card {
  width: 200px;
  height: 250px;
  position: relative;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #A7E9AF;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.card:hover .back-face {
  transform: rotateY(0deg);
}

.card:hover .front-face {
  transform: rotateY(-180deg);
} */